/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./form.css');

*::before,
*::after {
    margin: 0;
    padding: 0;
  }

  ul, ol {
    list-style: none;
}

.gallery {
  display: flex;
 flex-direction: row;
 flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding-top: 70px;
  margin: 0px;
  min-width: 1200px;
}

.gallery-item {
  overflow: hidden;
}

.gallery-link {
  display: block;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.loader {
  display: none; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  width: 50px;
  --b: 8px; 
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%,#f03355) content-box;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
    radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
    mask-composite: intersect;
  animation:l4 1s infinite steps(10);
@keyframes l4 {to{transform: rotate(1turn)}}
}

.gallery li {
  position: relative;
  list-style-type: none;
  margin: 10px;
}

.image-info {
  background-color: rgba(0, 0, 0, 0.6); /* Темний фон з прозорістю */
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
}

.image-info p {
  margin: 4px 0;
}
